<div class="nimo">
    <form action="/admin/log" method="post">

        <label>Username:</label>
        <input type="text" name="user" placeholder="Enter Username" required>

        <label>Password:</label>
        <input type="password" name="pass" placeholder="Enter Password" required>

        <input type="submit" value="Login">
        
    </form>
</div>