<form action="/admin/create" method="post" style="margin-left: 30px; margin-top: 30px;">
    <div class="mb-3">
        <label>Username:</label>
        <input type="text" name="uname" placeholder="Enter Username" class="form-control" style="width: 30%;" required>
    </div><br>
    <div class="mb-3">
        <label>Password:</label>
        <input type="password" name="pword" placeholder="Enter Password" class="form-control" style="width: 30%;" required>
    </div>
    <div class="mb-3">
        <label>Firstname:</label>
        <input type="text" name="fname" placeholder="Enter Firstname" class="form-control" style="width: 30%;" required>
    </div><br>
    <div class="mb-3">
        <label>Middlename:</label>
        <input type="text" name="mname" placeholder="Enter Middlename" class="form-control" style="width: 30%;" required>
    </div><br>
    <div class="mb-3">
        <label>Lastname:</label>
        <input type="text" name="lname" placeholder="Enter Lastname" class="form-control" style="width: 30%;" required>
    </div>
        <input type="submit" class="btn btn-primary">
</form>